<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.Sharbny">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="Sharbny"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".CupsOptions"
            android:label="@string/title_activity_cups_options"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.example.Sharbny.LoggedIn" />
        <activity android:name="com.example.Sharbny.Home5" />
        <activity android:name="com.example.Sharbny.Home4" />
        <activity android:name="com.example.Sharbny.Home3" />
        <activity android:name="com.example.Sharbny.Home2" />
        <activity android:name="com.example.Sharbny.Home1" />
        <activity android:name="com.example.Sharbny.Login" />
        <activity android:name="com.example.Sharbny.signup" />
        <activity android:name="com.example.Sharbny.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>